body{
    background-image: url('b.webp');
}

h1{
    font-size: 40px;
    color: rgb(121, 19, 39);
    text-align: center;

}

a{
    font-size: 40px;
    border-radius: 50px;
    border-width: 1px;
    margin: 15px;
    padding: 5px;
    color:rgb(121, 19, 39);
    border-color:rgb(121, 19, 39);
    background-color: white;
    opacity: 70%;
    display: block;
    text-align: center;
    text-decoration: none;
    border-style: solid;
  }
  a:hover{
    text-decoration: underline;
  }