body {
  background-image: url('b.webp');
}

table ,td,tr{
    border:2px solid black; 
    border-collapse: collapse;
    text-align: center;
}

table{
  position: relative;
  background-color: white;
  left: 5vw;
}
nav{
  background-color: white;
border-radius: 50px;
margin: 15px;
border-style: solid;
padding: 5px;
opacity: 70%;
display: flex;
justify-content: center;
border-width: 1px;
border-color: rgb(121, 19, 39);
}
a{
  font-size: 40px;
  border-width: 1px;
  color: rgb(121, 19, 39);
  border-color: rgb(121, 19, 39);
  text-align: center;
  text-decoration: none;
  padding: 0px 20px;
}
a:hover{
  text-decoration: underline;
}
h1{
  font-size: 40px;
  position: relative;
  left: 5vw;
  color: rgb(121, 19, 39);
}