body{
    background-image: url('b.webp');
}

form{
    background-color: white;
    opacity: 75%;
    border-radius: 25px;
    display: inline-block;
    padding: 15px 30px;
    position: relative;
    left: 33vw;
    top: 7vh;
}
input{
    display: block;
    font-size: 30px;
}
label{
    display: block;
    font-size: 30px;
}
h1{
    position: relative;
    top: 7vh;
    left: 35vw;
    font-weight: normal;    
}

a{
    font-size: 40px;
    border-radius: 50px;
    border-width: 1px;
    margin: 15px;
    padding: 5px;
    color:rgb(121, 19, 39);
    border-color:rgb(121, 19, 39);
    background-color: white;
    opacity: 70%;
    display: block;
    text-align: center;
    text-decoration: none;
    border-style: solid;
  }
  a:hover{
    text-decoration: underline;
  }