body {
    background-image: url('b.webp');
  }
  
  table ,td,tr{
      border:2px solid black; 
      border-collapse: collapse;
      text-align: center;
  }
  
  table{
    position: relative;
    left: 5vw;
    background-color: white;
  }
  a{
    font-size: 40px;
    border-radius: 50px;
    border-width: 1px;
    margin: 15px;
    padding: 5px;
    color:rgb(121, 19, 39);
    border-color:rgb(121, 19, 39);
    background-color: white;
    opacity: 70%;
    display: block;
    text-align: center;
    text-decoration: none;
    border-style: solid;
  }
  a:hover{
    text-decoration: underline;
  }
  h1{
    font-size: 40px;
    position: relative;
    left: 5vw;
    color: rgb(121, 19, 39);
  }
  p{
    text-align: center;
    color: rgb(121, 19, 39);
    font-size: 30px;
  }